In [1]:
import os

In [2]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas

In [5]:
pic_table = pandas.read_excel('ClaraPix/ClaraPics.xlsx')

In [6]:
pic_table[2:5]

,img #,Wer,Hilfe von,Title,Key,Datum,Datum unbekannt,Note,Set
2,3,Clara,NaN,Muster,Schule,Juli 18,NaN,Was Clara alles schon kann,NaN
3,4,Clara,NaN,Pythor,"Ninjago, Schlange",Juli 18,NaN,Vielleicht von Juno,NaN
4,5,Clara,NaN,Herzmuster,"Herz, Kunst",Juli 18,NaN,NaN,NaN

In [7]:
pic_table[2:15]

,img #,Wer,Hilfe von,Title,Key,Datum,Datum unbekannt,Note,Set
2,3,Clara,NaN,Muster,Schule,Juli 18,NaN,Was Clara alles schon kann,NaN
3,4,Clara,NaN,Pythor,"Ninjago, Schlange",Juli 18,NaN,Vielleicht von Juno,NaN
4,5,Clara,NaN,Herzmuster,"Herz, Kunst",Juli 18,NaN,NaN,NaN
5,6,Clara,NaN,Skizze Tänzerin,Tanz,Aug 18,NaN,NaN,NaN
6,7,Clara,NaN,Clara an der Straße,"Clara, Sommer",Juni 18,x,Ausschnitt,NaN
7,8,Clara,NaN,Muster,Kunst,Juli 18,NaN,NaN,NaN
8,9,Clara,NaN,Ninjago Truppe,Ninjago,Juli 18,NaN,vielleicht von Juno,NaN
9,10,Clara,NaN,Schlangenmuster,"Kunst, Schlangen",Juli 18,NaN,NaN,NaN
10,11,Clara,NaN,Clara und Papa | Landschaft,Familie | Landschaft,April 18,x,geklebt,NaN
11,12,Clara,NaN,Predator X wartet auf Plesiosaurier | Mensch h...,Dino |,NaN,NaN,geklebt | Bild nach einer Wolfi-Geschichte,NaN
12,13,Clara,NaN,Clara im Auto,Auto,Mai 18,x,NaN,NaN
13,14,Clara,NaN,Grün,Kunst,NaN,x,NaN,NaN
14,15,Clara,NaN,Fröhlicher Schmetterling,"Sommer, Schmetterling",2016,x,NaN,NaN